<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" #sidenav role="navigation">Sidenav content</mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <span>My Toolbar</span>
            <button (click)="sidenav.toggle()">Show sidenav</button>
            <div>Logo</div>
            <div><a routerLink="/signup">Sign Up</a></div>
          </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
  </mat-sidenav-container>